.App{
  display:grid;
  place-items:center;
  height:100vh;
}
.coin{
  display:grid;
  place-items:center;
  background-color:rgb(199, 151, 151);
  padding:1rem;
  border-radius:1rem;

}
.coin h1{
  color:rgb(73, 94, 15);
}

.result{
  display:grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  place-items:center;

}
.buttons{
  display:grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  place-items:center;
}
.coin button{
  background-color:rgb(73, 94, 15);
  color:rgb(199, 151, 151);
  border-radius:1rem;
  padding:0.5rem 1rem;
  border:none;
  font-size:1rem;
  cursor:pointer;
}
